{% extends 'base.html' %}
{% load static %}
{% block page_title %}Shopping Cart - Doodle This{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
            <div class="content-panel p-3 mb-5 row">
                <div class="h1 text-center mb-3">Shopping Cart</div>
                {% if cart_contents %}
                <div class="table-responsive">
                    <table class="table text-light align-middle">
                        <tr class="text-center">
                            <th colspan="2">Product</th>
                            <th>Doodle</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                        {% for item in cart_contents %}
                        <tr>
                            <td><img src="{{ item.image }}" class="img-fluid product-thumbnail mx-2"
                                    alt="Product preview image"></td>
                            <td>{{ item.name }}</td>
                            <td class="text-center"><img src="{{ item.drawing_image }}"
                                    class="img-fluid drawing-thumbnail mx-2" alt="Drawing preview image"></td>
                            <td class="text-center">
                                <form method="POST" action="{% url 'update_cart_item' %}"
                                    class="text-center cart-quantity">
                                    {% csrf_token %}
                                    <label class="visually-hidden" for="quantity">Select quantity</label>
                                    <input type='number' name="quantity" value={{ item.quantity }}  min="0" max="99"
                                        class="bg-dark text-light form-control">
                                    <input type="hidden" name="variant_id" value="{{ item.variant_id }}">
                                    <input type="hidden" name="drawing" value="{{ item.drawing }}">
                                    <button type="submit" class="update-button">Update</button>
                                </form>
                            </td>
                            <td class="text-center highlight">£{{ item.price }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="col-3 col-sm-6 col-md-8 col-lg-9 mb-3"></div>
                <div class="col-9 col-sm-6 col-md-4 col-lg-3 text-end mb-3">
                    <hr>
                    <p><span class=highlight>£{{ items_total }}</span> total</p>
                    <p>+ <span class=highlight>£{{ delivery }}</span> delivery</p>
                    <hr>
                    <p>Grand Total: <span class=highlight>£{{ grand_total }}</span></p>
                    <hr>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 offset-lg-4 offset-xl-6 mb-3">
                    <a href="{% url 'show_all_prints' %}" class="btn btn-brand-primary w-100">Return to Shop</a>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
                    <button class="btn btn-brand-primary w-100">Checkout Now</button>
                </div>
                {% else %}
                <div class="col-12">
                    <p class="text-center">
                        Your shopping cart is empty.
                    </p>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 offset-sm-3 offset-lg-4 mb-3">
                    <a href="{% url 'show_all_prints' %}" class="btn btn-brand-primary w-100">View Prints</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_js %}
<!-- load prints javascript file -->
<script src="{% static 'cart/js/cart.js' %}"></script>
{% endblock %}