{% extends 'base.html' %}
{% load static %}

{% block page_title %}Sketchbook - Doodle This{% endblock %}

{% block content %}

<div class="container-fluid overflow-hidden">
    <div class="row mt-xl-3 mx-xl-0">
        <!-- controls at top on small screens and on left on large screens -->
        <div class="col-12 col-xl-2 mb-2">
            <div class="row control-panel py-2">
                <div class="col-12 mt-2 d-none d-xl-block">
                    <img class="control-panel-logo" src="/media/svg/doodle-this-logo.svg" alt="Doodle This logo">
                </div>
                <!-- drawing prompt box -->
                <div class="col-12 col-sm-8 col-lg-6 col-xl-12 my-2 d-flex flex-column justify-content-center">
                    <div class="drawing-prompt-box p-2">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque velit ea est. 
                    </div>
                </div>
                <!-- prompt control buttons -->
                <div class="col-12 col-sm-4 col-lg-6 col-xl-12 d-flex flex-column justify-content-center">
                    <div class="flex-wrap-holder">
                        <button class="btn btn-brand-primary prompt-button" type="button">New Prompt</button>
                        <button class="btn btn-brand-primary prompt-button" type="button">Hide Prompt</button>
                    </div>
                </div>
                <!-- sketchbook control buttons -->
                <div class="col-12 d-none d-xl-block">
                    <div class="my-2 flex-wrap-holder">
                        <button class="btn btn-brand-primary control-button">
                            Clear
                        </button>
                        <button class="btn btn-brand-primary control-button">
                            Options
                        </button>
                        <button class="btn btn-brand-primary control-button" disabled>
                            Save
                        </button>
                        <button class="btn btn-brand-primary control-button" disabled>
                            Gallery
                        </button>
                    </div>
                </div>
                <div class="col-12 text-center d-none d-xl-block">
                    <p class="small"><a href="">Sign in</a> or <a href="">register</a> to save your doodles.</p>
                </div>
            </div>
        </div>
        <!-- sketchbook canvas section -->
        <div class="col-12 col-md-9 col-xl-8 mb-2">
            <!-- div to hold the scaling div and provide width for scale ratio calculation -->
            <div id="scaler-holder">
                <!-- div to scale the canvas and its background image up and down by screensize -->
                <div id="sketchbook-scaler">
                    <!-- div containing background image of sketchbook -->
                    <div id="sketchbook-background">
                        <!-- atrament canvas  -->
                        <canvas id="sketchbook"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <!-- controls at bottom on small screens and on right on large screens -->
        <div class="col-12 col-md-3 col-xl-2 mb-2">
            <div class="row control-panel py-2">
                <div class="col-6 col-md-12 order-1 d-flex flex-column justify-content-center d-md-block">
                    <!-- drawing cursor preview -->
                    <div class="col-12 d-flex justify-content-center my-2">
                        <div class="cursor-holder">
                        </div>
                    </div>
                    <!-- stroke width control -->
                    <div class="col-12 mb-2">
                        <label for="stroke-weight" class="form-label visually-hidden">Stroke Weight</label>
                        <input type="range" class="form-range" id="stroke-weight" min="2" max="40" value="20" step="2">
                    </div>
                </div>
                <!-- colour picker -->
                <div class="col-12 mb-2 order-3 order-md-2">
                    <div></div>
                </div>
                <!-- responsive grid of colour selection circles built with flex-box -->
                <!-- based on this tutorial: https://dev.to/stretch0/a-grid-layout-with-responsive-squares-59c6 -->
                <div class="col-12 mb-2 order-4 order-md-3">
                    <div class="flex-wrap-holder" id="preset-colour-holder">
                        <div class="colour-circle colour-group-1">
                            <button class="colour-button red-ink">
                                <span class="visually-hidden">Select red colour</span>
                            </button>
                        </div>
                        <div class="colour-circle colour-group-1">
                            <button class="colour-button orange-ink">
                                <span class="visually-hidden">Select orange colour</span>
                            </button>
                        </div>
                        <div class="colour-circle colour-group-1">
                            <button class="colour-button yellow-ink">
                                <span class="visually-hidden">Select yellow colour</span>
                            </button>
                        </div>
                        <div class="colour-circle colour-group-1">
                            <button class="colour-button green-ink">
                                <span class="visually-hidden">Select green colour</span>
                            </button>
                        </div>
                        <div class="colour-circle colour-group-3">
                            <button class="colour-button blue-ink">
                                <span class="visually-hidden">Select blue colour</span>
                            </button>
                        </div>
                        <div class="colour-circle colour-group-3">
                            <button class="colour-button purple-ink">
                                <span class="visually-hidden">Select purple colour</span>
                            </button>
                        </div>
                        <div class="colour-circle colour-group-3">
                            <button class="colour-button beige-ink">
                                <span class="visually-hidden">Select beige colour</span>
                            </button>
                        </div>
                        <div class="colour-circle colour-group-3">
                            <button class="colour-button brown-ink">
                                <span class="visually-hidden">Select brown colour</span>
                            </button>
                        </div>
                        <div class="colour-circle colour-group-6">
                            <button class="colour-button light-grey-ink">
                                <span class="visually-hidden">Select light grey colour</span>
                            </button>
                        </div>
                        <div class="colour-circle colour-group-7">
                            <button class="colour-button black-ink">
                                <span class="visually-hidden">Select black colour</span>
                            </button>
                        </div>
                        <div class="colour-circle colour-group-2">
                            <button class="colour-button light-red-ink">
                                <span class="visually-hidden">Select light red colour</span>
                            </button>
                        </div>
                        <div class="colour-circle colour-group-2">
                            <button class="colour-button light-orange-ink">
                                <span class="visually-hidden">Select light orange colour</span>
                            </button>
                        </div>
                        <div class="colour-circle colour-group-2">
                            <button class="colour-button light-yellow-ink">
                                <span class="visually-hidden">Select light yellow colour</span>
                            </button>
                        </div>
                        <div class="colour-circle colour-group-2">
                            <button class="colour-button light-green-ink">
                                <span class="visually-hidden">Select light green colour</span>
                            </button>
                        </div>
                        <div class="colour-circle colour-group-4">
                            <button class="colour-button light-blue-ink">
                                <span class="visually-hidden">Select light blue colour</span>
                            </button>
                        </div>
                        <div class="colour-circle colour-group-4">
                            <button class="colour-button pink-ink">
                                <span class="visually-hidden">Select pink colour</span>
                            </button>
                        </div>
                        <div class="colour-circle colour-group-4">
                            <button class="colour-button light-beige-ink">
                                <span class="visually-hidden">Select light beige colour</span>
                            </button>
                        </div>
                        <div class="colour-circle colour-group-4">
                            <button class="colour-button light-brown-ink">
                                <span class="visually-hidden">Select light brown colour</span>
                            </button>
                        </div>
                        <div class="colour-circle colour-group-5">
                            <button class="colour-button white-ink">
                                <span class="visually-hidden">Select white colour</span>
                            </button>
                        </div>
                        <div class="colour-circle colour-group-6">
                            <button class="colour-button grey-ink">
                                <span class="visually-hidden">Select grey colour</span>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- tool selection controls -->
                <div class="col-6 col-md-12 mb-2 order-2 order-md-4">
                    <div class="flex-wrap-holder h-100 mt-2 mt-md-0" id="tool-holder">
                        <button class="tool-button active-tool" value="draw">
                            <img src="/media/svg/pencil.svg" alt="Pencil tool icon" aria-hidden="true"
                                class="tool-icon">
                            <span class="visually-hidden">Pencil tool</span>
                        </button>
                        <button class="tool-button" value="draw">
                            <img src="/media/svg/pen.svg" alt="Pen tool icon" aria-hidden="true" class="tool-icon">
                            <span class="visually-hidden">Pen tool</span>
                        </button>
                        <button class="tool-button" value="fill">
                            <img src="/media/svg/fill.svg" alt="Fill tool icon" aria-hidden="true" class="tool-icon">
                            <span class="visually-hidden">Fill tool</span>
                        </button>
                        <button class="tool-button" value="erase">
                            <img src="/media/svg/eraser.svg" alt="Eraser tool icon" aria-hidden="true"
                                class="tool-icon">
                            <span class="visually-hidden">Eraser tool</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- sketchbook control buttons at bottom on screens up to 1199px -->
        <div class="col-12 d-xl-none control-panel mt-2 mb-5">
            <div class="my-2 flex-wrap-holder">
                <button class="btn btn-brand-primary control-button">
                    Clear
                </button>
                <button class="btn btn-brand-primary control-button">
                    Options
                </button>
                <button class="btn btn-brand-primary control-button" disabled>
                    Save
                </button>
                <button class="btn btn-brand-primary control-button" disabled>
                    Gallery
                </button>
            </div>
            <div class="col-12 text-center">
                <p class="small"><a href="">Sign in</a> or <a href="">register</a> to save your doodles.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block page_js %}
<script src="{% static 'sketchbook/js/atrament.min.js' %}"></script>
<script src="{% static 'sketchbook/js/sketchbook.js' %}"></script>
{% endblock %}