{% extends 'base.html' %}
{% load static %}

{% block page_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.css" />
{% endblock %}

{% block page_title %}Sketchbook - Doodle This{% endblock %}

{% block content %}

<div class="container-fluid overflow-hidden">
    <div class="row mt-xl-3 mx-xl-0">
        <!-- controls at top on small screens and on left on large screens -->
        <div class="col-12 col-xl-2 mb-2">
            <div class="row control-panel py-2">
                <div class="col-12 mt-2 d-none d-xl-block">
                    <img class="control-panel-logo" src="/media/svg/doodle-this-logo.svg" alt="Doodle This logo">
                </div>
                <!-- drawing prompt box -->
                <div class="col-12 col-sm-8 col-lg-6 col-xl-12 my-2 d-flex flex-column justify-content-center">
                    <div class="drawing-prompt-box p-2">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque velit ea est.
                    </div>
                </div>
                <!-- prompt control buttons -->
                <div class="col-12 col-sm-4 col-lg-6 col-xl-12 d-flex flex-column justify-content-center">
                    <div class="flex-wrap-holder">
                        <button class="btn btn-brand-primary prompt-button" type="button">New Prompt</button>
                        <button class="btn btn-brand-primary prompt-button" type="button">Hide Prompt</button>
                    </div>
                </div>
                <!-- sketchbook control buttons -->
                <div class="col-12 d-none d-xl-block">
                    <div class="my-2 row g-2">
                        <div class="col-3 col-lg-6">
                            <button class="btn btn-brand-primary w-100" data-bs-toggle="modal"
                                data-bs-target="#clearModal">
                                Clear
                            </button>
                        </div>
                        <div class="col-3 col-lg-6">
                            <button class="btn btn-brand-primary w-100" id="undo-side" disabled>
                                Undo
                            </button>
                        </div>
                        <div class="col-3 col-lg-12">
                            <button class="btn btn-brand-primary w-100" data-bs-toggle="modal"
                                data-bs-target="#saveModal" {% if not user.is_authenticated %}disabled{% endif %}>
                                Save / Load
                            </button>
                        </div>
                        <div class="col-3 col-lg-12">
                            <button class="btn btn-brand-primary w-100" data-bs-toggle="modal"
                                data-bs-target="#optionsModal">
                                Options
                            </button>
                        </div>
                    </div>
                </div>
                {% if not user.is_authenticated %}
                <div class="col-12 text-center d-none d-xl-block">
                    <p class="small"><a href="{% url 'account_login' %}">Sign in</a> or <a
                            href="{% url 'account_signup' %}">register</a> to save your doodles.</p>
                </div>
                {% endif %}
            </div>
        </div>
        <!-- sketchbook canvas section -->
        <div class="col-12 col-md-9 col-xl-8 mb-2">
            <!-- div to hold the scaling div and provide width for scale ratio calculation -->
            <div id="scaler-holder">
                <!-- div to scale the canvas and its background image up and down by screensize -->
                <div id="sketchbook-scaler">
                    <!-- div containing background image of sketchbook -->
                    <div id="sketchbook-background">
                        <!-- atrament canvas  -->
                        <div id="paper" class="watermarked-paper"></div>
                        <canvas id="sketchbook"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <!-- controls at bottom on small screens and on right on large screens -->
        <div class="col-12 col-md-3 col-xl-2 mb-2">
            <div class="row control-panel py-2">
                <div class="col-6 col-md-12 order-1 d-flex flex-column justify-content-center d-md-block">
                    <!-- drawing cursor preview -->
                    <div class="col-12 d-flex justify-content-center my-2">
                        <div class="cursor-holder d-flex justify-content-center align-items-center">
                            <div id="cursor"></div>
                        </div>
                    </div>
                    <!-- stroke width control -->
                    <div class="col-12 mb-2">
                        <label for="stroke-weight" class="form-label visually-hidden">Stroke Weight</label>
                        <input type="range" class="form-range" id="stroke-weight" min="2" max="40" value="20" step="2">
                    </div>
                </div>
                <!-- colour picker -->
                <div class="col-12 mb-2 order-3 order-md-2">
                    <div class="coloris-background">
                        <input type="text" id="coloris-picker" class="coloris" value="#000000" aria-hidden="true"
                            tabindex="-1" data-coloris>
                    </div>
                </div>
                <!-- responsive grid of colour selection circles built with flex-box -->
                <!-- based on this tutorial: https://dev.to/stretch0/a-grid-layout-with-responsive-squares-59c6 -->
                <div class="col-12 mb-2 order-4 order-md-3">
                    <div class="flex-wrap-holder" id="preset-colour-holder">
                        <div class="colour-circle colour-group-1">
                            <button class="colour-button red-ink">
                                <span class="visually-hidden">Select red colour</span>
                            </button>
                        </div>
                        <div class="colour-circle colour-group-1">
                            <button class="colour-button orange-ink">
                                <span class="visually-hidden">Select orange colour</span>
                            </button>
                        </div>
                        <div class="colour-circle colour-group-1">
                            <button class="colour-button yellow-ink">
                                <span class="visually-hidden">Select yellow colour</span>
                            </button>
                        </div>
                        <div class="colour-circle colour-group-1">
                            <button class="colour-button green-ink">
                                <span class="visually-hidden">Select green colour</span>
                            </button>
                        </div>
                        <div class="colour-circle colour-group-3">
                            <button class="colour-button blue-ink">
                                <span class="visually-hidden">Select blue colour</span>
                            </button>
                        </div>
                        <div class="colour-circle colour-group-3">
                            <button class="colour-button purple-ink">
                                <span class="visually-hidden">Select purple colour</span>
                            </button>
                        </div>
                        <div class="colour-circle colour-group-3">
                            <button class="colour-button beige-ink">
                                <span class="visually-hidden">Select beige colour</span>
                            </button>
                        </div>
                        <div class="colour-circle colour-group-3">
                            <button class="colour-button brown-ink">
                                <span class="visually-hidden">Select brown colour</span>
                            </button>
                        </div>
                        <div class="colour-circle colour-group-6">
                            <button class="colour-button light-grey-ink">
                                <span class="visually-hidden">Select light grey colour</span>
                            </button>
                        </div>
                        <div class="colour-circle colour-group-7">
                            <button class="colour-button black-ink">
                                <span class="visually-hidden">Select black colour</span>
                            </button>
                        </div>
                        <div class="colour-circle colour-group-2">
                            <button class="colour-button light-red-ink">
                                <span class="visually-hidden">Select light red colour</span>
                            </button>
                        </div>
                        <div class="colour-circle colour-group-2">
                            <button class="colour-button light-orange-ink">
                                <span class="visually-hidden">Select light orange colour</span>
                            </button>
                        </div>
                        <div class="colour-circle colour-group-2">
                            <button class="colour-button light-yellow-ink">
                                <span class="visually-hidden">Select light yellow colour</span>
                            </button>
                        </div>
                        <div class="colour-circle colour-group-2">
                            <button class="colour-button light-green-ink">
                                <span class="visually-hidden">Select light green colour</span>
                            </button>
                        </div>
                        <div class="colour-circle colour-group-4">
                            <button class="colour-button light-blue-ink">
                                <span class="visually-hidden">Select light blue colour</span>
                            </button>
                        </div>
                        <div class="colour-circle colour-group-4">
                            <button class="colour-button pink-ink">
                                <span class="visually-hidden">Select pink colour</span>
                            </button>
                        </div>
                        <div class="colour-circle colour-group-4">
                            <button class="colour-button light-beige-ink">
                                <span class="visually-hidden">Select light beige colour</span>
                            </button>
                        </div>
                        <div class="colour-circle colour-group-4">
                            <button class="colour-button light-brown-ink">
                                <span class="visually-hidden">Select light brown colour</span>
                            </button>
                        </div>
                        <div class="colour-circle colour-group-5">
                            <button class="colour-button white-ink">
                                <span class="visually-hidden">Select white colour</span>
                            </button>
                        </div>
                        <div class="colour-circle colour-group-6">
                            <button class="colour-button grey-ink">
                                <span class="visually-hidden">Select grey colour</span>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- tool selection controls -->
                <div class="col-6 col-md-12 mb-2 order-2 order-md-4">
                    <div class="flex-wrap-holder h-100 mt-2 mb-3 mt-md-0 mb-md-0" id="tool-holder">
                        <button class="tool-button active-tool" value="draw">
                            <img src="/media/svg/pencil.svg" alt="Pencil tool icon" aria-hidden="true"
                                class="tool-icon">
                            <span class="visually-hidden">Pencil tool</span>
                        </button>
                        <button class="tool-button" value="fill">
                            <img src="/media/svg/fill.svg" alt="Fill tool icon" aria-hidden="true" class="tool-icon">
                            <span class="visually-hidden">Fill tool</span>
                        </button>
                        <button class="tool-button" value="erase">
                            <img src="/media/svg/eraser.svg" alt="Eraser tool icon" aria-hidden="true"
                                class="tool-icon">
                            <span class="visually-hidden">Eraser tool</span>
                        </button>
                        <button class="tool-button" value="picker">
                            <img src="/media/svg/picker.svg" alt="Picker tool icon" aria-hidden="true"
                                class="tool-icon">
                            <span class="visually-hidden">Picker tool</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- sketchbook control buttons at bottom on screens up to 1199px -->
        <div class="col-12 d-xl-none control-panel mt-2 mb-5">
            <div class="my-2 flex-wrap-holder">
                <button class="btn btn-brand-primary control-button" data-bs-toggle="modal"
                    data-bs-target="#clearModal">
                    Clear
                </button>
                <button class="btn btn-brand-primary control-button" id="undo-bottom" disabled>
                    Undo
                </button>
                <button class="btn btn-brand-primary control-button" data-bs-toggle="modal" data-bs-target="#saveModal"
                    {% if not user.is_authenticated %}disabled{% endif %}>
                    Save / Load
                </button>
                <button class="btn btn-brand-primary control-button" data-bs-toggle="modal"
                    data-bs-target="#optionsModal">
                    Options
                </button>
            </div>
            {% if not user.is_authenticated %}
            <div class="col-12 text-center">
                <p class="small"><a href="{% url 'account_login' %}">Sign in</a> or <a
                        href="{% url 'account_signup' %}">register</a> to save your doodles.</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block page_modals %}
<!-- canvas clear confirmation modal -->
<div class="modal fade" id="clearModal" tabindex="-1" aria-labelledby="clearModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="clearModalLabel">Clear Sketchbook</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to clear your sketchbook? Any unsaved doodles will be lost.
            </div>
            <div class="modal-footer">
                <div class="row w-100 g-2">
                    <div class="col-6">
                        <button type="button" class="btn btn-brand-primary w-100"
                            data-bs-dismiss="modal">Cancel</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-danger w-100" data-bs-dismiss="modal"
                            id="clear-sketchbook">Clear Sketchbook</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- canvas options modal -->
<div class="modal fade" id="optionsModal" tabindex="-1" aria-labelledby="optionsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="optionsModalLabel">Sketchbook Options</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- canvas background selection controls -->
                <fieldset class="flex-wrap-holder mb-3" id="paper-type">
                    <legend class="fs-6">Paper background: </legend>
                    <input type="radio" class="btn-check " name="paper-type" id="none" autocomplete="off">
                    <label class="btn btn-brand-primary settings-button" for="none">None</label>
                    <input type="radio" class="btn-check" name="paper-type" id="watermark" autocomplete="off" checked>
                    <label class="btn btn-brand-primary settings-button" for="watermark">Watermark</label>
                    <input type="radio" class="btn-check" name="paper-type" id="lined" autocomplete="off">
                    <label class="btn btn-brand-primary settings-button" for="lined">Lined</label>
                    <input type="radio" class="btn-check" name="paper-type" id="squared" autocomplete="off">
                    <label class="btn btn-brand-primary settings-button" for="squared">Squared</label>
                </fieldset>
                <!-- stroke smoothing control slider -->
                <div class="mb-2">
                    <label for="smoothing" class="form-label">Stroke smoothing:</label>
                    <input class="form-range" id="smoothing" type="range" min="0.1" max="2" value="0.65" step="0.05">
                </div>
                <!-- adaptive stroke on/off controls -->
                <div class="mb-3">
                    <fieldset class="flex-wrap-holder justify-content-end mb-3" id="adaptive-stroke">
                        <legend class="fs-6">Adaptive stroke: </legend>
                        <input type="radio" class="btn-check" name="adaptive-stroke" id="on" autocomplete="off">
                        <label class="btn btn-brand-primary settings-button" for="on">On</label>
                        <input type="radio" class="btn-check" name="adaptive-stroke" id="off" autocomplete="off"
                            checked>
                        <label class="btn btn-brand-primary settings-button" for="off">Off</label>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>

{% if user.is_authenticated %}
<!-- canvas save drawing modal -->
<div class="modal fade" id="saveModal" tabindex="-1" aria-labelledby="saveModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="saveModalLabel">Save or Load Drawings</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'save_drawing' %}" id="drawing-form">
                    {% csrf_token %}
                    {{form|crispy}}
                    <hr>
                    <fieldset class="row g-2 mb-3 justify-content-center" id="drawing-save-slot">
                        <!-- drawing save slot selection controls -->
                        <legend class="fs-6">Select Save Slot: </legend>
                        <div class="col-4">
                            <!-- add preview image if user has an image in this save slot, otherwise show a default -->
                            {% if saved_drawings.0 %}
                            <img src="{{ saved_drawings.0.image.url }}" class="save-slot-preview"
                                alt="Save slot 1 preview" id="save-preview-1">
                            {% else %}
                            <img src="/media/svg/blank.svg" class="save-slot-preview" alt="Save slot 1 preview"
                                id="save-preview-1">
                            {% endif %}
                            <input type="radio" class="btn-check" name="drawing-save-slot" id="save-slot-1"
                                autocomplete="off" value="1" checked>
                            <label class="btn btn-brand-primary save-slot-button mt-2" for="save-slot-1">1</label>
                        </div>
                        <div class="col-4">
                            {% if saved_drawings.1 %}
                            <img src="{{ saved_drawings.1.image.url }}" class="save-slot-preview"
                                alt="Save slot 2 preview" id="save-preview-2">
                            {% else %}
                            <img src="/media/svg/blank.svg" class="save-slot-preview" alt="Save slot 2 preview"
                                id="save-preview-2">
                            {% endif %}
                            <input type="radio" class="btn-check" name="drawing-save-slot" id="save-slot-2"
                                autocomplete="off" value="2">
                            <label class="btn btn-brand-primary save-slot-button mt-2" for="save-slot-2">2</label>
                        </div>
                        <div class="col-4">
                            {% if saved_drawings.2 %}
                            <img src="{{ saved_drawings.2.image.url }}" class="save-slot-preview"
                                alt="Save slot 3 preview" id="save-preview-3">
                            {% else %}
                            <img src="/media/svg/blank.svg" class="save-slot-preview" alt="Save slot 3 preview"
                                id="save-preview-3">
                            {% endif %}
                            <input type="radio" class="btn-check" name="drawing-save-slot" id="save-slot-3"
                                autocomplete="off" value="3">
                            <label class="btn btn-brand-primary save-slot-button mt-2" for="save-slot-3">3</label>
                        </div>
                    </fieldset>
                </form>
                <div id="save-drawing-result"></div>
                <hr>
                <div class="row g-2 w-100" id="save-load-buttons">
                    <div class="col-6">
                        <button type="button" class="btn btn-brand-primary w-100" id="save-dialog-toggle"
                            data-bs-toggle="collapse" data-bs-target="#save-confirm" aria-expanded="false"
                            aria-controls="save-confirm">Save</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-brand-primary w-100" id="load-dialog-toggle"
                            data-bs-toggle="collapse" data-bs-target="#load-confirm" aria-expanded="false"
                            aria-controls="load-confirm">Load</button>
                    </div>
                </div>
                <div class="collapse" id="save-confirm">
                    <!-- collapsible section to confirm saving picture -->
                    <hr class="mt-3">
                    <div class="row g-2 w-100">
                        <div class="mb-3">Are you sure you want to save in this save slot?</div>
                        <div class="col-6">
                            <button type="button" class="btn btn-brand-primary w-100 cancel-button"
                                data-bs-toggle="collapse" data-bs-target="#save-confirm">Cancel</button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-brand-primary w-100" id="save-drawing"
                                data-bs-toggle="collapse" data-bs-target="#save-confirm">Save</button>
                        </div>
                    </div>
                </div>
                <div class="collapse" id="load-confirm">
                    <!-- collapsible section to confirm loading picture -->
                    <hr class="mt-3">
                    <div class="row g-2 w-100">
                        <div class="mb-3">Are you sure you want to load the drawing in this save slot?</div>
                        <div class="col-6">
                            <button type="button" class="btn btn-brand-primary w-100 cancel-button"
                                data-bs-toggle="collapse" data-bs-target="#load-confirm">Cancel</button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-brand-primary w-100" id="load-drawing"
                                data-bs-toggle="collapse" data-bs-target="#load-confirm">Load</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block page_js %}
<!-- load Atrament drawing plugin -->
<script src="{% static 'sketchbook/js/atrament.min.js' %}"></script>
<!-- load Coloris colour picker plugin -->
<script src="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.js"></script>
<!-- output urls and titles dictionaries as JSON for javascript functions -->
{{ urls|json_script:"urls" }}
{{ titles|json_script:"titles" }}
<!-- load sketchbook javascript file -->
<script src="{% static 'sketchbook/js/sketchbook.js' %}"></script>
{% endblock %}