/* COLOURS AND FONTS */

:root {
    --brand-primary-color: #ffad27;
    --text-light: #ebebeb;
    --muted-text-light: #bcbcbc;
    --text-dark: #303030;
    --bg-dark: #303030;
    --bg-light: #ebebeb;
    --bg-grey: #A3A3A3;
}

body {
    color: var(--text-light);
    background: #202020 url('/media/svg/bg-swirl.svg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Baloo 2', Arial, Helvetica, sans-serif;
}

a {
    color: var(--brand-primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--brand-primary-color);
    text-decoration: underline;
}

.bg-dark,
.dropdown-menu-dark {
    background-color: var(--bg-dark)!important;
}

.btn-brand-primary {
    font-family: 'Baloo 2', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
	color: var(--text-dark);
	background-color: var(--bg-grey);
	border: none;
    transition: 0.3s ease-in-out;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -7px rgba(0,0,0,0.2);
}

.btn-brand-primary:hover, 
.btn-brand-primary:focus {
    color: var(--text-dark);
    background-color: var(--brand-primary-color);
    border-color: var(--brand-primary-color);
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14),0 1px 7px 0 rgba(0,0,0,0.12),0 3px 1px -1px rgba(0,0,0,0.2);
}

/* NAVBAR STYLES */

.navbar-logo-text,
.navbar-logo-icon {
    height: 50px;
}

.navbar-dark .navbar-nav .nav-link {
	color: var(--muted-text-light);
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: var(--text-light);
}

/* FOOTER STYLES */

footer {
    color: var(--muted-text-light);
    box-shadow: 0 -.5rem 1rem rgba(0,0,0,.15) !important;
}

/* SKETCHBOOK STYLES */

.control-panel {
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -7px rgba(0,0,0,0.2);
    background-color: #30303075;
}

.drawing-prompt-box {
    background-color: var(--bg-light);
    border: 2px solid #606060;
    border-radius: 5px;
    min-height: 100px;
}

.btn-icon {
    text-align: center;
    color: var(--text-dark);
    border-color: var(--bg-grey);
    background-color: var(--bg-grey);
    border-width: 4px;
    width: 35px;
    height: 35px;
    font-size: 25px;
    line-height: 25px;
    padding: 0;
    transition: 0.3s ease-in-out;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -7px rgba(0,0,0,0.2);
}

.btn-icon:hover,
.btn-icon:focus {
    color: var(--text-dark);
    background-color: var(--brand-primary-color);
    border-color: var(--brand-primary-color);
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14),0 1px 7px 0 rgba(0,0,0,0.12),0 3px 1px -1px rgba(0,0,0,0.2);
}

@media (min-width: 768px) {
    .control-panel {
        border: 2px solid #606060;
        border-radius: 5px;
    }
}