/* COLOURS AND FONTS */

:root {
    --brand-primary-color: #ffad27;
    --text-color: #ebebeb;
    --muted-text-color: #bcbcbc;
    --bg-dark: #303030;
}

body {
    color: var(--text-color);
    background: #202020 url('/media/svg/bg-swirl.svg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Baloo 2', Arial, Helvetica, sans-serif;
}

a {
    color: var(--brand-primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--brand-primary-color);
    text-decoration: underline;
}

.bg-dark,
.dropdown-menu-dark {
    background-color: var(--bg-dark)!important;
}

/* NAVBAR STYLES */

.navbar-logo-text,
.navbar-logo-icon {
    height: 50px;
}

.navbar-dark .navbar-nav .nav-link {
	color: var(--muted-text-color);
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: var(--text-color);
}

/* FOOTER STYLES */

footer {
    color: var(--muted-text-color);
    box-shadow: 0 -.5rem 1rem rgba(0,0,0,.15) !important;
}