{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-10 col-md-8 offset-1 offset-md-2">
            <!-- account details section -->
            <section class="content-panel p-3 mb-5 row">
                <h1>{{ request.user.username }}'s Profile</h1>
                <h2 class="my-3">Account Details</h2>
                <div class="col-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2 mb-5">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>Username: </strong> <span class="float-end">{{ request.user.username }}</span>
                        </li>
                        <li class="list-group-item">
                            <strong>Email: </strong> <span class="float-end">{{ request.user.email }}</span>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                    <a class="btn btn-brand-primary w-100" href="{% url 'account_email' %}">Update Email</a>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <a class="btn btn-brand-primary w-100" href="{% url 'account_change_password' %}">Update Password</a>
                </div>
                <!-- delivery details update form -->
                <h2 class="mt-5 mb-3">Delivery Details</h2>
                <form action="{% url 'profile' %}" method="POST">
                    {% csrf_token %}
                    <div class="row g-3">
                        {% crispy name_update_form %}
                        {% crispy default_address_form %}
                        <button class="btn btn-brand-primary col-12 col-md-4 offset-md-4 mb-3">Update</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-10 col-md-8 offset-1 offset-md-2">
            <!-- order history section -->
            <section class="content-panel p-3 mb-5 row">
                <h2 id="order-history" class="mb-3">Order History</h2>
                {% if orders %}
                <!-- iterate through orders and add details -->
                {% for order in orders %}
                <ul class="list-group">
                    <li class="list-group-item">
                        <strong>Order Number: </strong>
                        <span class="float-end">
                            <a href="{% url 'order_confirmed' order_number=order.order_number %}">
                                {{ order.order_number }}
                            </a>
                        </span>
                    </li>
                    <li class="list-group-item">
                        <strong>Date: </strong> <span class="float-end">{{ order.date }}</span>
                    </li>
                    <li class="list-group-item">
                        <strong>Summary: </strong>
                        <span class="float-end">
                            <!-- iterate through order items and add to summary -->
                            {% for item in order.order_items.all %}
                            {{ item.quantity }} x {{ item.product_variant.product.display_name }},
                            {{ item.product_variant.display_name }}
                            {% if forloop.revcounter0 > 0 %}<span class=text-muted>|</span>{% endif %}
                            {% endfor %}
                        </span>
                    </li>
                    <li class="list-group-item">
                        <strong>Grand Total: </strong> <span class="float-end highlight">£{{ order.grand_total }}</span>
                    </li>
                </ul>
                <hr class="my-3">
                {% endfor %}
                {% else %}
                <div class="col-12">
                    <p class="text-center">
                        You haven't made any print orders yet.
                    </p>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 offset-sm-3 offset-lg-4 mb-3">
                    <a href="{% url 'show_all_prints' %}" class="btn btn-brand-primary w-100">View Prints</a>
                </div>
                {% endif %}
            </section>
        </div>
    </div>
</div>

{% endblock %}