{% extends 'base.html' %}
{% load static %}

{% block page_title %}500 - Internal Server Error - Doodle This{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-10 col-md-8 offset-1 offset-md-2">
            <section class="content-panel p-3 mb-5 row text-center">
                <!-- section title -->
                <h1 class="mt-4 mb-5">500 - Internal Server Error</h1>
                <p>Oops, something seems to have gone wrong.</p> 
                <p>Would you like to return <a href="{% url 'sketchbook' %}">home</a>?</p>
            </section>
        </div>
    </div>
</div>
{% endblock %}