{% extends 'base.html' %}
{% block page_title %}Print - Doodle This{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
            <div class="content-panel p-3 mb-5 row">

                    <h1 class="col-12 mb-3 text-center">Buy Custom {{ product.display_name }}</h1>
                    <div class="col-12 col-md-6 mb-3">
                        <!-- product image carousel -->
                        <div id="productImageCarousel" class="carousel carousel-dark slide" data-bs-ride="true">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{{ product.image.url }}" class="d-block w-100"
                                        alt="Preview image of {{ product.display_name }}">
                                </div>
                                {% for variant in variants %}
                                {% if variant.image %}
                                <div class="carousel-item">
                                    <img src="{{ variant.image.url }}" class="d-block w-100"
                                        alt="Preview image of {{ variant.display_name }}">
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#productImageCarousels"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#productImageCarousel"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 d-flex align-items-center">
                        <!-- product description -->
                        <p>{{ product.description }}</p>
                    </div>
                    <div class="col-12 mb-3">
                        <form action="" class="row">
                            <div class="col-12 col-lg-6">

                                <div class="input-group mb-3 ">
                                    <!-- select product variant -->
                                    <label class="input-group-text bg-dark text-light" for="select-size">Select
                                        {{ product.get_variant_type_display }}</label>
                                    <select class="form-select" id="select-size">
                                        {% for variant in variants %}
                                        <option value="{{ variant.name }}">{{ variant.display_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <!-- select doodle to print -->
                                <div class="input-group mb-3 ">
                                    <label class="input-group-text bg-dark text-light" for="select-doodle">Select
                                        Doodle</label>
                                    <select class="form-select" id="select-doodle">
                                        <option value="current_doodle">Current Doodle</option>
                                        {% for drawing in saved_drawings %}
                                        <option value="saved_doodle_{{ drawing.save_slot }}">Saved Doodle
                                            {{ drawing.save_slot }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-6 col-sm-3 d-flex align-items-center justify-content-center">Price:</div>
                            <div class="col-6 col-sm-3 highlight d-flex align-items-center justify-content-center">
                                £19.99</div>
                            <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                                <div class="input-group">
                                    <label for="quantity" class="input-group-text bg-dark text-light">Quantity:</label>
                                    <input type="number" value=0 min="0" max="99" class="form-control"
                                        aria-label="quantity" aria-describedby="quantity-text">
                                </div>

                            </div>
                        </form>
                    </div>

                        <div class="col-12 col-sm-6 col-lg-3 offset-lg-3 mb-3">
                            <button class="btn btn-brand-primary w-100">View Preview</button>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3 mb-3">
                            <button class="btn btn-brand-primary w-100">Add to Cart</button>
                        </div>


            </div>
        </div>
    </div>
</div>

{% endblock %}